[2021-04-05 22:18] TheBeardedBerserkr opened #2 "Model Field Output"
When  I generate the html for a my model none of the fields are populating.

The docs just generate something along the lines of:

pydantic model MyModel [source]
   This is my doc string.
  Show Json Schema

I'm generating the page with the
`..automodule:: package.MyModel
   :members:`

Am I supposed to have a setting marked for field population?

[2021-04-05 22:48] TheBeardedBerserkr commented on #2
To be a little more clear how do I get these:

to generate? Is it a conf.py setting?

[2021-04-06 08:05] mansenfranzen commented on #2
Hi,

thanks for opening the first issue ;-). Do your pydantic fields have doc strings? If not, sphinx autodoc will ignore them. To include undocumented members, add `:undoc-members:` :

[code]

Please let me know if this works for you.

In any case, it seems to be a good idea to include undocumented pydantic fields regardless of the `:undoc-members:`  option. This should be configurable of course.

[2021-04-06 21:30] TheBeardedBerserkr commented on #2
That worked!
I figured it was a me thing! Still new to all this, pydantic, sphinx, autodocs so forgive the ignorance!
Hopefully all the issues are as easy as this one!

[2021-04-06 21:30] #2 closed

[2021-04-07 18:43] mansenfranzen commented on #2
I'm glad it helped and thanks for the issue any. It inspired me to provide an additional default to automatically set `:undoc-members:` for pydantic models.

[2021-04-08 09:43] mansenfranzen opened #3 "Cross referencing via `:any:` does not work for custom pydantic directives"
Custom extension directives need to be added explicitly via [`add_object_type`](https://www.sphinx-doc.org/en/1.4.9/extdev/appapi.html#sphinx.application.Sphinx.add_object_type) to be cross referenced.

[2021-04-25 19:19] mansenfranzen opened #7 "Move CI test matrix to tox"
Currently, the varying versions to be tested (e.g. python, sphinx, pydantic) are completely defined within github actions yaml. To support local and other remote CI/CD pipelines, move the version definitions and test environment execution into tox.

[2021-04-25 19:29] mansenfranzen opened #8 "Make error handling for non serializable objects configureable"
One may show the nodel JSON schema within class doc string as a collapsable code block via [`:model-show-json:`](https://autodoc-pydantic.readthedocs.io/en/latest/configuration.html#show-schema-json). This depends on the model to be completely JSON serializable. However, users may provide custom fields that are not serializable by default. This breaks the schema generation.

Currently, this is han

[2021-04-28 12:06] vlcinsky opened #10 "Add Licence"
I did not find any licence terms within the project.

Consider adding some (what about MIT? BSD? - you are the author).

Thanks for your plugin - seems very practical and looks great.

[2021-04-29 06:57] mansenfranzen commented on #10
Thanks for reminder. The `pyproject.toml` already contained the license information but the repository itself lacked it. I added it.

[2021-04-29 07:06] vlcinsky commented on #10
Thanks for adding it and also for using MIT one.

[2021-04-29 07:06] #10 closed

[2021-04-30 17:07] antvig opened #11 "autosummary does not seem to work with autodoc_pydantic"
Hi

First, my doc and I would like to thank you a lot for this great lib !

I face an issue : I'm using `autosummary` to have a clean doc but using autodoc_pydantic seem not compatible with `autosummary`

[code]

the results is

![image](https://user-images.githubusercontent.com/25105210/116729026-f56bff80-a9e6-11eb-831c-e7aeac884c74.png)

While the results before using `autodoc_pydantic` was :

!

[2021-04-30 20:15] mansenfranzen commented on #11
Hi,

thanks for reporting the issue. This is definitely a bug related to autosummary while also using `sphinx-autogen`. If you use it without `sphinx-autogen` and `:toctree: temp` it works for me (sphinx 3.5.4). What sphinx version do you use?

The real issue is located within the autogen part. This seems rather complicated to fix for now. I will get back to it, soon.

[2021-05-02 11:54] mansenfranzen opened #12 "`.. currentmodule::` breaks with `autopydantic_model`"
When using the `.. currentmodule::` directive in conjunction with `autopydantic_model` and certain options like `:model-show-validator-members: False` raise a value error:

[code]

This occurs because *autodoc_pydantic* uses a custom method to locate objects. Instead, it should rely on *autdoc*'s object import methods.

[2021-05-02 14:40] mansenfranzen commented on #11
The issue is related to how `autosummary` parses the autodocumenters via `FakeDirective`. It assumes that autodocumenters have no configuration parameters read from the app environment. This is the default case for standard autodocumenters but not for `autodoc_pydantic`. The issue should be fixed with the new dev version `1.1.2_dev` (see #13). However, before I merge those changes including tests,

[2021-05-03 11:45] antvig commented on #11
Hi,

Unfortunatly, it's still not working.

I use `sphinx==3.5.4`, `autosummary` files are generated with `sphinx-build` command.

here is the 2 files generated during `sphinx-build` with  and without `autodoc_pydantic` [test.zip](https://github.com/mansenfranzen/autodoc_pydantic/files/6414560/test.zip)`

[2021-05-03 14:13] mansenfranzen commented on #11
Thanks for testing. Do you see any difference in the logging output provided by **sphinx-build** (warnings or error messages) when using it with `autodoc_pydantic`?

I assume you have `autosummary_generate = True` in your `conf.py`, right? The files you've provided are the stub files generated by **sphinx-autogen**. They are indeed still different because sphinx-autogen only knows about the defaul

[2021-05-03 14:32] antvig commented on #11
Unfortunatly, it's related to my professional job so I cannot share the repo.

I'll try in the following days to make a short example to reproduce the bug.

[2021-05-03 17:03] antvig commented on #11
[issue.zip](https://github.com/mansenfranzen/autodoc_pydantic/files/6416392/issue.zip)

to reproduce : `sphinx-build "source" "build"`

[2021-05-04 11:15] mansenfranzen commented on #11
Thanks for the example repository - it finally helped me to track down one of the errors you are experiencing 👍.

### autosummary - toc - import bug

More concretely, your example imports the relevant pydantic model into the `__init__` module and the `autosummary` directive references the pydantic model from the `__init__` module instead from `mymodule.core`. The imports in autosummary/autodoc are

[2021-05-05 19:21] mansenfranzen opened #14 "Add autosummary-like table to model/settings doc string"
Since autosummary is currently not very well suited for custom autodocumenters (see #11), its functionality can't be properly used. Hence, it would make sense to provide a autosummary-like table of contents for largish models/settings to get a brief overview of all existing fields and validators instead of scrolling all over the page.

Ideally it would be possible to reuse some of the existing aut

[2021-05-06 07:50] antvig commented on #11
it works like a charm! 👍
Let me know when the patch is released !

[2021-05-06 08:34] mansenfranzen commented on #11
Thanks for testing! Patch is released.

Closing this issue via #13.

[2021-05-06 08:34] #11 closed

[2021-05-06 08:34] mansenfranzen commented on #12
Closing this via #13.

[2021-05-06 08:34] #12 closed

[2021-05-09 20:18] mansenfranzen opened #16 "Support sphinx 4.0 and drop dependency on myst-parser"
Sphinx 4.0 was released just today. *autodoc_pydantic* should work with newest sphinx version. Additionally, the dependency on myst-parser is really not required since it is only used to convert the changelog, written in markdown, to reST. Instead, the changelog can be written in reST right away.

[2021-05-10 06:57] mansenfranzen commented on #14
#17 adds a field summary to pydantic models/settings. Together with the config and validator summary, it provides an overview of all pydantic relevant attributes as a table of contents in the header of the doc string which essentially serves the purpose of getting a quick overview in context of large models. Hence, I'm closing this issue for now.

[2021-05-11 09:44] #16 closed

[2021-05-11 09:44] mansenfranzen commented on #7
Closed by #19

[2021-06-07 20:07] roguh opened #20 "Add support for root validators."
Hello! Thank you for the great work.

I was wondering if you were planning on adding support for documenting root validators, like you do field validators.

[2021-06-07 20:37] mansenfranzen commented on #20
Hi roguh,

thanks for your feature request. In my opinion it's a useful enhancement and I will add it as soon as I get some spare time. It was not yet planned (simply because it was not needed yet) but it should not be too difficult to implement. Feel free to add a PR yourself if you want. Otherwise you might need to wait a week or two.

If you have some concrete ideas about how root validators sh

[2021-06-08 22:05] ybnd opened #21 "Config value autodoc_member_order gets ignored"
Looks like `autodoc_pydantic` causes `autodoc` to ignore the  `autodoc_member_order` config value
* I've got it set to "bysource"
* When building with `autodoc_pydantic` the ordering falls back to the default (alphabetical)
* Without it, everything works as expected

------------------
p.s.: Awesome plugin! I was looking for an alternative for my hacky workaround to hide pydantic model signatures

[2021-06-09 21:38] mansenfranzen commented on #21
Hi ybnd,

thanks for reporting the issue! Does the ordering fall back to alphabetical even for non pydantic objects or solely for pydantic models/settings which are handled by `autodoc_pydantic`. The former case would be suprising whereas the latter is likely a bug in `autodoc_pydantic` which ignores `autodoc_member_order`.

As a side note, you may overwrite the member order specifically for pydan

[2021-06-11 09:15] ybnd commented on #21
I'll take a closer look at it this evening, but I think all members of modules that contain pydantic models get ordered alphabetically also.

[2021-06-12 09:09] ybnd commented on #21
So here's an example of the issue:
* Module containing a mix of pydantic models & "regular stuff"
    * [Without autodoc-pydantic, the "bysource" order is respected](https://shapeflow.readthedocs.io/en/latest/python-library.html#module-shapeflow)
    * [With it, the order of the entire module is alphabetical](https://shapeflow.readthedocs.io/en/dev-sphinx-pydantic/python-library.html#module-shapef

[2021-06-13 13:37] mansenfranzen commented on #21
@ybnd thanks for the detailed live examples - it helps a lot tracking down the issue here. I will come back to it soon.

[2021-07-06 13:03] mansenfranzen commented on #20
@roguh I added support for `@root_validator`. Here is an example of how they are represented along with standard validators validating all fields `@validator("*")`: [documentation preview](https://autodoc-pydantic.readthedocs.io/en/feat_root_validators20/examples.html#asterisk-and-root-validators).

Essentially, root validators are pretty much the same as standard validators which validate all fie

[2021-07-14 11:50] mansenfranzen commented on #21
@ybnd This was an interesting bug to track down. As you've guessed, autodoc pydantic did in fact modify the member order of other auto-documenters. However, this occurred because the actual `options` attribute (resembling things like `members` or `member-order`) is shared among multiple auto-documenters which in fact seems rather strange to me. For example, if you modify the options for one docume

[2021-07-15 07:09] ybnd commented on #21
[Looks like everything works as it should](https://shapeflow.readthedocs.io/en/latest/python-library.html#module-shapeflow) 👍
* With the release ↑
* Removed `autodoc_pydantic_model_member_order = "bysource"` option
* Module member order is `bysource` and pydantic model order is alphabetic

[2021-07-15 07:33] mansenfranzen commented on #21
Great, thanks for testing! I hope to get the release done until next week.

[2021-07-15 07:34] #21 closed

[2021-07-21 07:14] tahoward opened #27 "No Hyperlinks for Pydantic Types"
Running Sphinx `4.1.1` and pydantic `1.8.2`.

Enabled extensions:
[code]

Sample:
[code]

The generated document will not have a hyperlink for the `TestModel` data type reference. Removing the `BaseModel` class from `TestModel` renders the type references with hyperlinks again.

[2021-07-21 12:28] mansenfranzen commented on #20
@roguh I'm closing this issue for now with the current release v1.3.1. Feel free to reopen if you have any additional comments. Cheers.

[2021-07-21 12:28] #20 closed

[2021-07-21 13:01] mansenfranzen commented on #27
Thanks for the bug report. I could reproduce the issue myself using the `.. automodule::` directive for documenting your test code. The hyperlinks work with pydantic models if `autodoc_pydantic` is deactivated - so this is definately a bug. This probably occurs due to the custom directives `autodoc_pydantic` uses. I will take a look at it.

[2021-07-21 14:30] thomas-pedot opened #28 "`pd.DataFrame` breaks JSON schema generation"
When using Arbitrary type we cannot serialize to a JSON Schema.

Work
[code]

Doesnot work
[code]

Following error is raised when building the docs:

`ValueError: Value not declarable with JSON Schema, field: name='inputs_DataFrame' type=DataFrame required=True`

[2021-07-23 14:08] mansenfranzen commented on #28
Thanks for the bug report. I can reproduce the issue. Be aware there is already a mechanism to capture fields which are not JSON serializable (see warning [here](https://autodoc-pydantic.readthedocs.io/en/latest/configuration.html#show-schema-json) in the docs). However, the pandas dataframe dtype currently escapes this safety guard.

[2021-07-27 19:15] mansenfranzen commented on #27
@tahoward The bug was related to how typed field references work. They always use the `class` role. Until now, `autodoc_pydantic` objects could not be referenced by the class role. However, this should be the case and it totally makes sense because pydantic models/settings are python classes.

Before merging the related PR, it would be great if you could test the bug fix on your site to confirm th

[2021-07-30 15:58] mansenfranzen commented on #28
@thomas-pedot PR #30 addresses the current issue allowing you to define how `autodoc_pydantic` should behave in case a pydantic field can't be JSON serialized properly. Please see the updated [docs](https://autodoc-pydantic.readthedocs.io/en/v1.3.2-a.2/configuration.html#show-schema-json-error-strategy) on this.

Before merging the related PR, it would be great if you could test the bug fix on you

[2021-08-03 13:11] matutter opened #32 "Model subclasses do not show superclass fields"
I cannot find a way to show all fields of a model if it subclasses another BaseModel.

[code]

When generate the model's docs with `autopydantic_model` both `field_on_base` and `field_on_subclass` is shown in the field list however only the docstring of `field_on_subclass` is shown.

[code]

[2021-08-04 08:09] Yoshanuikabundi opened #33 "Support for autosummary :recursive: documentation of entire API"
Hi! Thanks for this package, I love the results it produces!

I've been experimenting with ways to fully automate the generation of API reference documentation from source code and docstrings, a la [rustdoc](https://doc.rust-lang.org/rustdoc/what-is-rustdoc.html). I know you're aware of this, but there's no easy way to include `autodoc_pydantic` output in a fully automated API reference.

The foll

[2021-08-04 19:12] mansenfranzen commented on #32
@matutter Thanks for reporting the issue. I can reproduce what you've observed.

By default, sphinx autodoc does not include any member (attributes or methods) from base classes. However, it has a directive option named `:inherited-members:` which allows you to include all members from all super classes except from `object` (see docs [here](https://www.sphinx-doc.org/en/master/usage/extensions/aut

[2021-08-06 11:00] StephenHogg commented on #33
I'd like to add my voice to this, have just run into this exact problem today and would love it if this would fit into the recursive command along with everything else. For now I'm going to just ignore the pydantic files as I don't quite understand the workaround, unfortunately. If anyone (@Yoshanuikabundi ?) could explain it, I'd be very grateful though.

[2021-08-06 11:26] StephenHogg commented on #27
I have this problem too, it turns out - just tried with that release and no dice, unfortunately.

[2021-08-06 19:04] mansenfranzen commented on #27
@StephenHogg thanks for joining the conversation. I just rechecked if I accidentally messed up the `v1.3.2-a.1` but it looks good. The following setup works fine for me with `v1.3.2-a.1`:

**conf.py**
[code]

**test.py**
[code]

**index.rst**
[code]

The generated doc strings contains the a link from the doc string body of `TestClass` to `TestModel`. Please notice the `:members:` and `:undoc-membe

[2021-08-06 19:12] mansenfranzen commented on #33
@Yoshanuikabundi Thanks for your detailed report and your thoughts on this issue. I know it's a pity that a fully automated API documentation does not yet work properly with `autodoc_pydantic`.

Unfortunately I haven't had enough time to take a deep dive on this issue, yet. But judging from a high level perspective, I assume effort is best invested in extending `sphinx.ext.autosummary` instead of

[2021-08-07 02:18] StephenHogg commented on #27
My apologies, the problem I'm having appears to be because of the recursive autosummary thing.

[2021-08-07 04:56] mansenfranzen commented on #27
No worries, now we know your issue is related to autosummary. Perhaps you could describe it in more detail in #32 if it provides any more insight.

[2021-08-07 08:18] StephenHogg commented on #33
I think I've narrowed it down. Try this with `v1.3.2-a.1`, you should see an error:

**conf.py**
[code]

**index.rst**
[code]

**test.py**
[code]

Thanks for making this package, by the way!

[2021-08-07 08:18] StephenHogg commented on #33
The error it generates for me is as follows:
[code]

[2021-08-08 14:44] mansenfranzen commented on #33
@StephenHogg I think your `index.rst` is not correct. Try:

[code]

[2021-08-08 15:02] mansenfranzen commented on #33
@Yoshanuikabundi I took a closer look at your proposal.

It is a good idea to extend the standard autosummary template to call the custom function `keep_pydantic_models` from within the jinja template that filters only pydantic models and then the jinja template loops through all models. The function itself is not a big deal.

However, providing the function to the jinja template namespace is curr

[2021-08-09 03:25] Yoshanuikabundi commented on #33
@mansenfranzen Thanks for the update! I think I completely agree with you. I thought the Jinja2 environment was extensible because [autoapi provides](https://sphinx-autoapi.readthedocs.io/en/latest/reference/config.html#confval-autoapi_prepare_jinja_env) a very clean API to modify it, but on closer inspection it looks like they can do this because they use their own templates rather than extending

[2021-08-12 16:36] tahoward commented on #27
@mansenfranzen Thanks for looking into this I'll pull in dev release and see what output looks like.

[2021-08-12 17:24] tahoward commented on #27
@mansenfranzen I seem to be unable to replicate the original issue on your `v1.3.1` release when comparing against the `v1.3.2-a.1` tag. Are you seeing same thing? I do see my Sphinx dep got bumped to 4.1.2 now. Locked it back to 4.1.1 but still unable to replicate my original issue. Are you still able to replicate with your `v1.3.1` release?

[2021-08-17 15:06] davidchall opened #34 "Handle Ellipsis default value"
pydantic uses `Field(default = ...)` to indicate that a field is required ([see docs](https://pydantic-docs.helpmanual.io/usage/schema/#field-customisation)).

Currently `autodoc_pydantic` will output things like:

which can be a bit confusing. Perhaps it could instead output something like:

[2021-08-17 19:25] mansenfranzen commented on #34
Thanks a lot for the request. I totally agree that this could be improved. It will be included in the next release.

[2021-08-17 19:33] mansenfranzen commented on #27
@tahoward I can still reproduce the issue even with sphinx 4.1.2. The hyperlink does not show up in `v1.3.1` but is present in `v1.3.2-a.1`. Either way it works for you :wink:.

[2021-08-18 16:54] thoward-godaddy commented on #27
@mansenfranzen Agreed!

[2021-08-18 16:56] tahoward commented on #27
@mansenfranzen Agreed!

[2021-08-18 16:56] #27 closed

[2021-08-18 19:45] mansenfranzen commented on #8
Closed via #30

[2021-08-18 19:45] #8 closed

[2021-08-18 19:46] mansenfranzen commented on #28
Closing this issue via #30. Please feel free to reopen for further discussions.

[2021-08-18 19:46] #28 closed

[2021-08-18 22:01] mansenfranzen commented on #34
I really like this modification and hence it is already included in the current dev release. Please checkout the new dev release via `pip install git+git://github.com/mansenfranzen/autodoc_pydantic.git@v1.4.0-a.1` to test it in your build environment.

To preview those changes, you can visit the current dev documentation with explained [configuration](https://autodoc-pydantic.readthedocs.io/en/fea

[2021-08-19 02:26] davidchall commented on #34
Excellent - thank you for the quick response! ⚡  I confirm it's working at my end 👍

[2021-08-19 19:30] mansenfranzen commented on #34
Closing this via #35.

[2021-08-19 19:30] #34 closed

[2021-08-19 21:34] mansenfranzen commented on #32
@matutter The current dev release now respects inherited members. It is aligned with the default sphinx autodoc behavior. Additionally, a section in the FAQ now describes how to display fields/validators from base classes (see [here](https://autodoc-pydantic.readthedocs.io/en/v1.4.0-a.2/faq.html)).

Before merging the related PR, it would be great if you could test the bug fix on your site to conf

[2021-08-20 01:46] matutter commented on #32
@mansenfranzen confirmed this produced the expected output. Inherited members are included when using the `:inherited-members: BaseModel`. All expected members are present. Thank you!!

[2021-08-20 19:24] mansenfranzen commented on #32
@all-contributors please add @matutter for bug and userTesting

[2021-08-20 19:29] mansenfranzen commented on #32
Closing this issue via #37

[2021-08-20 19:29] #32 closed

[2021-08-20 19:30] mansenfranzen opened #39 "Add contributors"
Initial setup for adding contributors via [all-contributors bot](https://github.com/all-contributors/app).

[2021-08-20 19:32] mansenfranzen commented on #39
@all-contributors please add @mansenfranzen for maintenance, doc, test and content

[2021-08-20 19:46] mansenfranzen commented on #39
@all-contributors please add @TheBeardedBerserkr for ideas
@all-contributors please add @vlcinsky for security
@all-contributors please add @antvig for bug and userTesting
@all-contributors please add @roguh for ideas
@all-contributors please add @ybnd for bug and userTesting
@all-contributors please add @tahoward for bug and userTesting
@all-contributors please add @thomas-pedot for bug and userT

[2021-08-20 19:46] mansenfranzen commented on #39
@all-contributors please add @TheBeardedBerserkr for ideas

[2021-08-20 19:51] mansenfranzen commented on #39
@all-contributors please add @vlcinsky for security

[2021-08-20 19:52] mansenfranzen commented on #39
@all-contributors please add @antvig for bug and userTesting

[2021-08-20 19:53] mansenfranzen commented on #39
@all-contributors please add @roguh for ideas

[2021-08-20 19:53] mansenfranzen commented on #39
@all-contributors please add @ybnd for bug and userTesting

[2021-08-20 19:54] mansenfranzen commented on #39
@all-contributors please add @tahoward for bug and userTesting

[2021-08-20 19:54] mansenfranzen commented on #39
@all-contributors please add @thomas-pedot for bug and userTesting

[2021-08-20 19:55] mansenfranzen commented on #39
@all-contributors please add @matutter for bug and userTesting

[2021-08-20 19:56] mansenfranzen commented on #39
@all-contributors please add @davidchall for ideas and userTesting

[2021-08-20 19:58] mansenfranzen commented on #39
@all-contributors please add @Yoshanuikabundi for ideas and research

[2021-08-20 20:06] mansenfranzen commented on #39
Finished adding all contributors.

[2021-08-20 20:06] #39 closed

[2021-08-23 08:22] slamer59 commented on #39
@mansenfranzen I didn't see any issues on my side ! Thanks

Sorry for the late reply I was on holidays.
Regards

[2021-10-05 21:50] goroderickgo opened #55 "Error parsing root validators"
Hello all,

I really appreciate this Sphinx extension, but recently I've been running into some issues getting my docs to build. Would appreciate any guidance on what may be going on—from the traceback, it seems like my installation is getting tripped up trying to parse root validators. I tested a few versions of `autodoc_pydantic`, and it seems to appear in ≥ v.1.3

Here's the full traceback that

[2021-10-06 06:50] mansenfranzen commented on #55
@goroderickgo thanks for reporting the bug and the detailed report! Can you provide a minimal example of your pydantic model that causes the error, please? That would be great otherwise I'm having trouble to reproduce it. Additionally, can you check what pydantic version you are using? It could be related to a change in how pydantic stores and manages root validators.

[2021-10-10 14:18] mansenfranzen commented on #55
@all-contributors please add @goroderickgo  for tests

[2021-10-10 15:39] mansenfranzen commented on #55
It got fixed with version 1.5.0. Feel free to reopen of

[2021-10-10 15:39] #55 closed

[2021-10-28 22:01] j-carson opened #57 "Numpy NDArray breaks inspection module"
Thanks so much for this library!  I've just discovered it.

autodoc_pydantic is crashing for me in inspection.py, where checking to see if "obj" is a subclass of "BaseModel"

All of the crashes are from checking various objects from numpy.  The simplest reproducible example I found is:

[code]

As a workaround, I edited the file to put a try/except in is_pydantic_model:
[code]
The fallback behavio

[2021-10-29 21:53] mansenfranzen commented on #57
It is a perfect starting point - give it a go!

The more tricky part is about testing that the issue is fixed without adding numpy as a dev/test dependency. I don't want to add numpy as a dependency just because of this odd ndarray behavior. Instead, it's probably best to mimic numpy's ndarray. However, this may be difficult to achieve. An object being a class and not working with `issubclass` at

[2021-10-29 22:02] mansenfranzen commented on #57
One more note which is interesting. This odd behaviour appears specifically with pydantic:

[code]

Hence, this is some weird interaction between `NDArray` and pydantic's `BaseModel` because they work as expected with other types.

[2021-10-29 23:43] j-carson commented on #57
Here's another oddball - it works if I test against BaseModel's parent class, which is 'pydantic.main.ModeLMetaclass'

[code]

[2021-10-30 02:18] j-carson commented on #57
This also looks relevant:

https://bugs.python.org/issue45326

I can use
[code]
as a test case that does not require importing numpy.

[2021-10-30 18:46] j-carson commented on #57
OK, so the more I look at it, it's an interaction between a generic type class (Numpy implements it's own backported version so NDArray is a generic across all versions of python https://github.com/numpy/numpy/blob/main/numpy/typing/_generic_alias.py) and an abc-flavored class (BaseModel is an abstract base class).

Rather than writing a bunch of code that checks for generics based on different ve

[2021-10-30 20:16] mansenfranzen commented on #57
That's exactly what I was thinking of. I found several other related python issues regarding `issubclass` bugs but I did not come across this one.

I'm not sure if I understand you correctly but I assume you want to call `autodoc_pydantic`'s auto-documenters to confirm that they don't fail anymore when encountering NDArray-like objects. Calling auto-documenters in the test suite has some complexit

[2021-10-31 00:05] j-carson commented on #57
I am currently just trying to get sphinx to crash again with a test case in my development environment, then I'll worry about hooking it up to pytest. I'm not having any luck reproducing it without numpy...

My little dict[str,str] test case above throws a similar exception to my problem on the oneliner subclass check, but when I try putting a dict[str,str] in my test case, somehow autodoc doesn't

[2021-10-31 14:21] mansenfranzen commented on #57
What python version do you use? Given the bug report you've mentioned earlier, it only occurs since python 3.9 upwards.

[2021-10-31 14:23] mansenfranzen commented on #57
Also, can you share the example code you've used so far to recreate the issue?

[2021-10-31 21:38] j-carson commented on #57
The example code that crashes is in this repo - https://github.com/j-carson/bug_report

I caught it on Python 3.7, but also see it on 3.9.  (Numpy has it's own backport of generic typing.)

[2021-10-31 22:00] j-carson commented on #57
The code that I was trying to make dict[str,str] crash was to replace the NDArray with the "Trouble" class below, but without success:

[code]

While trying to figure out why autodoc was able to handle the above, I was digging into autodoc a little more deeply. I figured out I could configure

[code]
and my problems disappear, so there is a workaround for this issue at least.

[2021-11-01 13:11] mansenfranzen commented on #57
For pragmatic reasons and due to the minor benefit that a custom test case mimicing numpy's NDArray really adds, I'm considering to just ignore this special case in the test suite. In fact, this test case may introduce more complexity and overhead than value it provides.

Also, it might be useful to simply use a try/except block around the `issubclass` because that's really the only relevant infor

[2021-11-02 09:37] utf commented on #33
Hi, I'm just wondering if there's any update on this issue?

[2021-11-02 19:51] mansenfranzen commented on #33
Unfortunately not - I haven't gotten any response in the upstream issue https://github.com/sphinx-doc/sphinx/issues/6264. I just added a friendly reminder.

[2021-11-03 03:22] j-carson commented on #57
This is both easier to do and fine... doing this seems to be unlikely to introduce a new bug.  I'll probably have time to start it on Friday and hopefully do a pull request over the weekend or early next week.

[2021-11-03 15:01] mansenfranzen commented on #57
Sounds great, thanks! No need to hurry - take your time. I'm happy to review your PR at any point in time.

[2021-11-05 20:49] lilyminium opened #58 "Docstring of base class' `__init__` included"
Thanks for creating this package, @mansenfranzen -- it's the missing link between the self-documenting objects of Pydantic and, well, actual documentation!

However, I'm not sure I've set it up correctly. Might you know why the class docstrings I'm getting have the Pydantic BaseModel docstring attached? e.g. here: https://psiresp.readthedocs.io/en/latest/_autosummary/psiresp.job.Job.html#psiresp.j

[2021-11-06 04:46] roguh commented on #20
Thank you so much!

[2021-11-06 19:20] mansenfranzen commented on #58
Thanks for reporting this. It is indeed an odd behaviour.

It has nothing to do with `autosummary` because this simply generates the `autopydantic_model` directive. Instead, I believe the reason is located in your `conf.py` which sets `autoclass_content = 'both'`. This tells sphinx autodoc to concatenate both the class doc string and its `__init__` doc string in the class' documentation (see [here

[2021-11-08 07:53] Yoshanuikabundi commented on #33
Hi all! I've come up with a template that works around this issue for the time being. Adding the `:toctree:` option to the autosummary directives in the `autosummary/module.rst` template causes functions, classes etc to be documented on their own pages. Then, simply looping over all the members for the current module and excluding anything documented elsewhere (or with a leading underscore) gets y

[2021-11-08 13:25] mansenfranzen commented on #33
Thanks for sharing - that's really great! This information could be very useful for others, too. It would be a great candidate for the [documentations FAQ section](https://autodoc-pydantic.readthedocs.io/en/stable/users/faq.html). If you feel motivated and you have enough time, you could a PR to extend the FAQ section with your workaround. If not, no worries - I can also do it.

[2021-11-08 22:32] lilyminium commented on #58
That did the trick, thank you @mansenfranzen! (https://psiresp--37.org.readthedocs.build/en/37/_autosummary/psiresp.job.Job.html#psiresp.job.Job)

I'm happy to put up a PR today.

[2021-11-09 09:14] Yoshanuikabundi opened #62 "Sphinx 4.3 will include a breaking change for autodoc_pydantic"
Hi! I've been lending a hand to contributing to Sphinx itself and discovered that my project no longer built on the upcoming release's branch. I bisected and reported this issue as https://github.com/sphinx-doc/sphinx/issues/9832 and the wonderful Jakob Andersen has tracked the problem down to a change in signature for `get_signature_prefix` (https://www.sphinx-doc.org/en/master/changes.html#id2),

[2021-11-09 09:24] jakobandersen commented on #62
I suggest either requiring Sphinx 4.3 a minimum version, or based on the Sphinx version return either a string or a list of nodes.

[2021-11-09 09:34] astrojuanlu opened #63 "Add `sphinx-extension` GitHub topic"
I usually browse https://github.com/topics/sphinx-extension to discover new extensions, would be great to have this extension listed there :)

[2021-11-09 14:23] mansenfranzen commented on #63
Thanks for sharing - I didn't know about github topics. I will add it there soon :-)

[2021-11-09 14:27] mansenfranzen commented on #62
@Yoshanuikabundi Thanks for reporting the issue here and creating https://github.com/sphinx-doc/sphinx/issues/9832. I will take care to make `autodoc_pydantic` work with sphinx version 4.3 in the next release. The required adjustment should not be too difficult.

@jakobandersen Thanks for providing the mitigation in the meanwhile.

[2021-11-09 15:07] mansenfranzen opened #66 "Improve CI for pull request"
Currently forks trigger the complete CI including code coverage reports. Due to security constraints, environment secrets are not available for foreign pull requests which leads to a failure in code coverage. Hence, code coverage should be excluded from the CI for foreign pull requests.

[2021-11-09 15:09] mansenfranzen opened #67 "Add GH issue links to FAQ documentation"
The documentation's FAQ section should contain a link to its original github issue to provide more information if needed.

[2021-11-09 15:11] mansenfranzen opened #68 "Broken CI for sphinx 3.4"
The CI builds for sphinx 3.4 are currently broken. This probably occurs to newer versions of unpinned dependencies (e.g. docutils). The actual error is of minor significance and does not impact correct behavior but still breaks the CI. This needs to be fixed.

[2021-11-09 15:12] #58 closed

[2021-11-10 09:16] Yoshanuikabundi commented on #33
I'd love to! But it might take me a while to get to, so if it's a priority for you don't feel like you have to wait for me.

[2021-11-10 19:57] #57 closed

[2021-11-10 20:51] mansenfranzen commented on #68
This relates to https://github.com/sphinx-doc/sphinx/issues/9777

[2021-11-10 20:53] #68 closed

[2021-11-10 23:25] mansenfranzen commented on #62
@all-contributors please add @Yoshanuikabundi for test

[2021-11-10 23:26] mansenfranzen commented on #62
@all-contributors please add @jakobandersen for code

[2021-11-10 23:31] mansenfranzen commented on #62
@jakobandersen and @Yoshanuikabundi compatibility issues with sphinx 4.3 have been fixed and will be available in in the upcoming release v.1.5.1.

[2021-11-10 23:34] #62 closed

[2021-11-11 19:08] mansenfranzen commented on #63
@all-contributors please add @astrojuanlu for content

[2021-11-11 19:11] mansenfranzen commented on #63
Done

[2021-11-11 19:11] #63 closed

[2021-11-12 21:01] #66 closed

[2021-11-12 21:01] #67 closed

[2021-11-12 21:22] mansenfranzen commented on #33
@Yoshanuikabundi No need to hurry - take your time.

[2021-12-06 10:02] StigKorsnes opened #77 "Styling lost with Jupyter Book"
Hello Sir,
To be honest, I'm not sure whether or not this question belong in [Jupyter-Book](https://github.com/executablebooks/jupyter-book/issues#:~:text=executablebooks,jupyter%2Dbook) or here. I`m facing an issue, and in a hurry to solve it. I'm using Jupyter-Book to document a library for a client. I have some bakground material/examples which I have produced with markdown/python-code (.md and

[2021-12-11 08:29] nchaly opened #78 "TypeError: '<' not supported between instances of 'NoneType' and 'NoneType' in `_sort_summary_list`"
Hey all, I've encountered exception while trying to generate a pydantic models documentation. I believe it is related to a combination of factors (most likely it is related to 'bysource' sorting and usage of pydantic model as a class field):

[code]

conf.py settings:
[code]

Probably there are other factors, so 've put the complete code base to github: https://github.com/nchaly/autodoc-pydantic-

[2021-12-13 15:33] mansenfranzen commented on #77
Hi @StigKorsnes,

sorry for letting you wait -  I was busy otherwise.

Your issue seems to be related to how custom autodoc extensions automatically provide a new css class with the same name as `objtype`/`directivetype`. Without `autodoc_pydantic`, documenting python classes get the css class named `class`. Here is an extraction of the generated autodoc HTML source code without using `autodoc_pyd

[2021-12-13 15:33] mansenfranzen commented on #77
Hi @StigKorsnes,

sorry for letting you wait -  I was busy otherwise.

Your issue seems to be related to how custom autodoc extensions automatically provide a new css class with the same name as `objtype`/`directivetype`. Without `autodoc_pydantic`, documenting python classes get the css class named `class`. Here is an extraction of the generated autodoc HTML source code without using `autodoc_pyd

[2021-12-13 15:34] mansenfranzen commented on #77
Hi @StigKorsnes,

sorry for letting you wait -  I was busy otherwise.

Your issue seems to be related to how custom autodoc extensions automatically provide a new css class with the same name as `objtype`/`directivetype`. Without `autodoc_pydantic`, documenting python classes get the css class named `class`. Here is an extraction of the generated autodoc HTML source code without using `autodoc_pyd

[2021-12-13 15:45] mansenfranzen commented on #78
Hi @nchaly,

thanks a lot for reporting this bug at such detailed level. It made it very is to reproduce.

It is definitely a bug due to an unhandled edge case. I will get back to you soon.

[2021-12-13 20:48] StigKorsnes commented on #77
Hi @mansenfranzen
Thank you very much for your response. I quickly realized that this issue had nothing to do with your package, as I encountered the same issue with sphinx-toolbox  and enum_tools. (for named tuples and enums, which also lacks a bit out-of-the-box).

My experience and understanding of CSS is close to zero, so do not know how to go about to fix the build-step of my documentation. H

[2021-12-26 19:13] mansenfranzen commented on #78
It turns out that the bug is not difficult to fix. However, which is more important, your example reveals a more general question. How should **autodoc_pydantic** document pydantic models/settings which are used as class attributes just like in your example.

While autodocumenting `DataTransformer` it is not relevant to show every detail of `PARAMS_CLS ` (like json schema, field and validator summ

[2021-12-26 19:21] mansenfranzen commented on #77
@StigKorsnes Thanks for the response - I'm glad it seemed to have helped you. Just to clarify so I don't misunderstand you: When you add `class` then the styling is correct again?

More importantly, your issue gave me the idea to use sphinx [events](https://www.sphinx-doc.org/en/master/extdev/appapi.html#event-object-description-transform) to add the missing css class `class` automatically. This w

[2021-12-27 10:57] nchaly commented on #78
@mansenfranzen I agree. In fact current behaviour creates a duplicate block of data, which confused me the first time I saw it - it looked at a first glance as if `DataTransformer` itself has now got its own schema.

So yes, a reference to the original pydantic model should be fine.

![image](https://user-images.githubusercontent.com/2665273/147464825-c8a90d11-deff-491a-b32c-690ec0bae3f4.png)

[2021-12-31 16:11] mansenfranzen commented on #78
#79 addresses the issue.

Before merging the related PR, it would be great if you could test the bug fix on your site to confirm that my test case did indeed capture the incorrect behavior which you've encountered. To do so, please install the current dev release in your doc-building-environment via `pip install git+git://github.com/mansenfranzen/autodoc_pydantic.git@v1.6.0-a.1` and rebuild your d

[2021-12-31 16:12] mansenfranzen opened #82 "Support pydantic 1.9"
Currently 3 tests fail with pydantic 1.9 release half an hour ago. Those tests do not seem critical however should be fixed anyway.

[2022-01-01 11:33] mansenfranzen commented on #82
Closed via #83

[2022-01-01 11:33] #82 closed

[2022-01-03 22:06] mansenfranzen commented on #78
@all-contributors please add @nchaly for bug and tests

[2022-01-03 22:07] mansenfranzen commented on #77
@all-contributors please add @StigKorsnes for bug and ideas

[2022-01-03 22:22] mansenfranzen commented on #78
I merged the changes in the v1.6.0 release. There is a [FAQ section](https://autodoc-pydantic.readthedocs.io/en/stable/users/faq.html#document-models-as-an-attribute) in the updated documentation describing your issue. Feel free to reopen or comment. Thanks for reporting this once again.

[2022-01-03 22:22] #78 closed

[2022-01-03 22:25] mansenfranzen commented on #77
The current release v1.6.0 adds the relevant fallback classes by default. Therefore, the newest version of **autodoc_pydantic** should work fine with jupyter-book theme out of the box, now. It would be great, if you could test this once again to confirm that I'm not mistaken.

There is a new [FAQ section](https://autodoc-pydantic.readthedocs.io/en/stable/users/faq.html#broken-layout-for-aut) in th

[2022-01-03 22:25] #77 closed

[2022-01-04 09:47] StigKorsnes commented on #77
@mansenfranzen
Updated to 1.6.0, and everything looks good!

**autodoc-pydantic 1.5.1 :**

![Inkedautodoc_pydantic_before_LI](https://user-images.githubusercontent.com/10085536/148035314-bb71c7ca-9f45-430c-995b-ff1bd1c8d002.jpg)

**autodoc-pydantic 1.6.0 :**

![Inkedautodoc_pydantic_after_LI](https://user-images.githubusercontent.com/10085536/148035586-7cad75e2-cc44-4e40-8b98-fddd77e66a9f.jpg)

Th

[2022-01-11 08:35] mansenfranzen commented on #77
Thanks for the visual confirmation - looks good :-).

I believe that this feature is also relevant for other sphinx autodoc extensions. Thanks for linking this PR to the related packages.

[2022-01-26 08:16] iliakur opened #91 "Feature request: render sphinx markup in description attributes of fields"
Hi!

Thanks for this very nice tool! It's so nice, that I'm wondering if we can make it even more powerful :)

Would it be a challenge to render any sphinx markup in the `description` attribute of a `Field`?

I'd love to help, but afraid that I'm a bit low on free time for the next month or two.

[2022-01-26 09:08] mansenfranzen commented on #91
@iliakur thanks for your proposal. It totally makes sense and actually it should be the default behavior because standard doc strings are treated and interpreted as sphinx extended reST. Therefore, the same should apply to explicitly added documentation via the `description` attribute.

The `description` attribute of pydantic `Field`s already support inline reST. However, line breaks are not inter

[2022-01-26 12:31] iliakur commented on #91
Thanks for the fast response! Indeed I forgot to mention that I have successfully used inline reST in a description and it was just multi-line directives that were missing.

I'm glad this is likely easy to add, looking forward to using it!

[2022-01-28 22:17] mansenfranzen commented on #91
@all-contributors please add @iliakur for bug

[2022-01-28 22:30] mansenfranzen commented on #91
Issue has been fixed with #92 and minor release v1.6.1 is already up on pypi. Reproducing the bug in a test case and fixing it was not difficult. Please check if you experience the correct behavior with the most recent version to ensure that I captured your problem correctly.

Feel free to reopen the issue if it persists and thanks for reporting once again!

[2022-01-28 22:30] #91 closed

[2022-01-29 09:53] iliakur commented on #91
Wow, some pretty impressive automation you got there ;)

Thanks for the fix (didn't realize this was a bug :joy: ), I'm excited to try it out next week!

[2022-01-31 06:43] Yoshanuikabundi opened #95 "Support/respect autodoc's `autodoc_preserve_defaults` and `autodoc_typehints_format` settings"
In the last few releases, autodoc has added two settings to `conf.py` that are very useful:

 - `autodoc_preserve_defaults`: Preserves default argument values as they are in code, rather than evaluating them
 - `autodoc_typehints_format`: Suppresses the module names of type hints

By turning each of these on, a field signature could be transformed from something like this:
[code]

to

[code]

Whic

[2022-01-31 19:31] mansenfranzen commented on #95
@Yoshanuikabundi Thanks for opening an issue here again 😄.

I agree, this would be a nice enhancement. To be more concretely, this would apply to pydantic field signatures specifically, right?

I will take a look into it and how to support it for newer sphinx versions.

[2022-02-01 06:11] Yoshanuikabundi commented on #95
:grin:

This would apply to field signatures for sure, but possibly also other signatures. It already works for methods, but having it for validators and configs and whatever else in addition to fields would be maximally consistent :smiley:

[2022-02-03 17:39] jgunstone opened #96 "Links behave unexpectedly in the Example - ExampleSettings on the readthedocs"
this looks like a great package!

I was just looking at the documentation and when you hit "source":
![image](https://user-images.githubusercontent.com/21370980/152397316-1bd20dc0-685f-4204-aec4-bcaefebcce4f.png)

it behaves as expected taking you to the source code... but then when you hit the equivalent "docs" link to go back:
![image](https://user-images.githubusercontent.com/21370980/152397537

[2022-02-04 07:31] mansenfranzen commented on #96
@jgunstone Thanks for reporting this. It is indeed a weird behavior. Perhaps that's even a bug in sphinx `sphinx.ext.viewcode`. I will come back to it soonish.

[2022-02-07 12:05] iliakur commented on #91
Used it last week, works swimmingly, thanks!

[2022-02-22 12:44] StigKorsnes opened #97 "Optional[float] shows up as [Required]"
Hi,
I have a pydantic model where a field is defined as ```myvalue:Optional[float]``` , this renders as  ``` Optional[float] [Required]``` in my docs. The json schema does not list it as a required field. Ref [this section of the docs](https://pydantic-docs.helpmanual.io/usage/models/#required-optional-fields) .

Another small issue I have is how to deal with derived models. (Might be in the docs,

[2022-02-24 12:18] mansenfranzen commented on #95
@Yoshanuikabundi I finally manage to take a closer look at your proposal. While I'm still totally convinced that shortening type hints and preserving defaults do improve documentation, I have doubts where and how to implement it.

### Example

More concretely, lets consider the following example:

**example.py**
[code]

**conf.py**
[code]

### Results

Generating docs for `example.py` reveals the

[2022-02-24 12:27] mansenfranzen commented on #97
@StigKorsnes Thanks for opening the ticket.

As you have correctly pointed it out, `autodoc_pydantic` currently behaves unexpectedly for [non-required optional fields](https://pydantic-docs.helpmanual.io/usage/models/#required-optional-fields). It does show the `[Required]` mark while it acutally shouldn't. This a bug and it will be fixed in the next release.

Regarding your second point, a previo

[2022-02-25 04:50] Yoshanuikabundi commented on #95
Thanks for looking into this! Sorry, I didn't even consider the possibility that this might be `autodoc`'s inconsistency. I definitely agree that this sounds like an `autodoc` problem and not an `autodoc_pydantic` problem. I'll make sure I can replicate your findings and then either raise an issue or PR with Sphinx. I don't think there's any need for `autodoc_pydantic` to provide this functionalit

[2022-03-22 17:06] Czaki opened #98 "Support for Union with ForwardRef"
for code:
[code]

there was warning `/home/czaki/Projekty/PartSeg/docs/autodoc_pydantic.rst: WARNING: JSON schema can't be generated for 'PartSegCore.analysis.measurement_base.Node' because the following pydantic fields can't be serialized properly: ['left', 'right'].
`

in this code
https://github.com/mansenfranzen/autodoc_pydantic/blob/36ffae3b96fa7be84f0c7fbf74bfee1db7fcfc5a/sphinxcontrib/autod

[2022-03-30 13:02] spacemanspiff2007 opened #99 "Add option to show only the alias for a field"
I'm loading the application configuration from a yaml file and want to use autodoc-pydantic to document the available settings.
It's really great that there are so many configuration options so everything can be tailored to ones needs.

However I'm missing one more thing:
Since I load from file I load the corresponding values by alias and not by name.
Would it be possible to add a configuration op

[2022-03-31 08:31] spacemanspiff2007 opened #100 "Add possible callback to process type and default"
I load a ``str`` from a yaml file and convert it into a path object.
It's possible to change certain paths so e.g. logfiles get generated in a different folder.

Currently this
[code]
renders like that
[code]

However since the user is editing a yaml file I'd like to process both the type and the default value to be a string.
E.g. so it looks like that.
[code]

I'm aware that this is a rather spec

[2022-03-31 22:59] iwyrkore commented on #33
Thanks for @Yoshanuikabundi 's ideas, I implemented a custom autosummary extension. (I was having many issues with other non-pydantic types falling into the "types" list in his template and I wanted more control over the pydantic behavior.)

I simply copied the `sphinx.ext.autosummary` code to a local folder `docs/ext/pydantic_autosummary` (my rst/md files are in `docs/source`)

Edited `__init__.p

[2022-04-01 16:27] nickeldan opened #101 "Show fields from parent model"
In the following case

[code]

is there a way to have the documentation for `Bar` show both `x` and `y` as the fields?

[2022-04-01 19:39] mansenfranzen commented on #98
@Czaki Thanks for sharing this issue. It is definitely a bug. I can reproduce the behavior and it boils down to recursively check `sub_fields` as you have pointed it out. It will be fixed in the upcoming release.

[2022-04-01 21:25] mansenfranzen commented on #99
Hi @spacemanspiff2007,

thanks for sharing your feature request! I think it is a reasonable proposal regarding your use case. However, I believe this use case is rather infrequent and narrow. The tradeoff between introduced complexity and gained functionality might be rather unbalanced towards the former.

I'm not rejecting your request in any way. Rather, please help me justify it ;-). Can you th

[2022-04-01 21:44] mansenfranzen commented on #101
Hi @nickeldan,

this has already been answered in #32 and is documented in the users FAQ [here](https://autodoc-pydantic.readthedocs.io/en/stable/users/faq.html#show-inherited-fields-validators).

To improve future search results, what search terms have you used to look for an already existing answer? Your answer will help me to guide new users to the correct answer more quickly.

[2022-04-02 00:14] nickeldan commented on #101
Ah, thanks!  I'm not sure how I missed that.

I don't recall what my search terms were.

[2022-04-02 00:14] #101 closed

[2022-04-02 12:23] mansenfranzen commented on #100
Hi @spacemanspiff2007 again,

as you've pointed it out, your request is rather special. Supporting callbacks for such selective attributes is unfortunately too specific in my opinion because it introduces too much complexity for the functionality it provides.

I'm not opposed to callbacks in general but they should have a more general purpose such as passing the docutil content node of an auto-doc

[2022-04-04 05:26] spacemanspiff2007 commented on #99
Thanks for your reply.
I've been playing around with [easyconfig](https://github.com/spacemanspiff2007/easyconfig), a very convenient wrapper that allows to
- load data from yaml files
- create a yaml file with defaults and comments

and validates everything with pydantic.
It took some iterations but I think now it's quite convenient (if you like yaml files).
The docs are still a bit lacking, I th

[2022-04-04 05:29] spacemanspiff2007 commented on #100
Thank you for your reply.
Post processing the node should be enough if I can distinguish that it is a autodoc-pydantic node.
I'll take a look at it and report back. :+1:

[2022-04-06 07:35] spacemanspiff2007 commented on #100
No luck so far.
I managed to replace the ``pathlib.Path`` and ``Path`` Text objects but then sphinx keeps crashing.
So obviously I must be doing something wrong.

Could you point me in the right direction?
Thank you for your support!

[code]

[2022-04-06 20:11] mansenfranzen commented on #97
@StigKorsnes The incorrect `[Required]` mark should be fixed via #104.

Before merging the related PR, it would be great if you could test the bug fix on your site to confirm that my test case did indeed capture the incorrect behavior which you've encountered. To do so, please install the current dev release in your doc-building-environment via `pip install git+https://github.com/mansenfranzen/aut

[2022-04-06 20:12] mansenfranzen commented on #98
@Czaki This should be fixed via #102.

Before merging the related PR, it would be great if you could test the bug fix on your site to confirm that my test case did indeed capture the incorrect behavior which you've encountered. To do so, please install the current dev release in your doc-building-environment via `pip install git+https://github.com/mansenfranzen/autodoc_pydantic.git@v1.6.2-a.1` and

[2022-04-06 20:14] mansenfranzen commented on #98
@all-contributors please add @Czaki for bug

[2022-04-06 20:18] mansenfranzen commented on #96
@jgunstone This bug is fixed with the upcoming release which will be released soonish. You can see the update docs already [here](https://autodoc-pydantic.readthedocs.io/en/v1.6.2-a.1/users/examples.html).

The issue arose because the same source code was auto-documented multiple times by different doc pages and `sphinx.ext.viewcode` can only use a single back-reference to the doc pages.

[2022-04-06 20:19] mansenfranzen commented on #96
@all-contributors please add @jgunstone for bug

[2022-04-06 20:21] #96 closed

[2022-04-06 20:21] mansenfranzen commented on #98
@Czaki Please feel free to reopen this ticket if the issue persists.

[2022-04-06 20:21] #98 closed

[2022-04-06 20:22] mansenfranzen commented on #97
@StigKorsnes Please feel free to reopen this ticket if the issue persists.

[2022-04-06 20:34] mansenfranzen commented on #33
@iwyrkore Thanks for sharing your solution! I'm sure it will be helpful for others having the same issue. I might add a new section to the user's FAQ docs soonish linking to your solution, too (feel free to create PR yourself if you want to ;-)).

[2022-04-06 20:35] mansenfranzen commented on #33
@all-contributors please add @iwyrkore for code

[2022-04-08 08:01] spacemanspiff2007 opened #110 "Additional field arguments appear as constraints"
Additional keyword arguments of fields automatically appear under ``constraints`` even when they are not a constraint.

I use an additional keyword argument to specify whether the field will be created in the yaml file.
This argument is automatically documented as a constraint when it is more of a general field information.
![grafik](https://user-images.githubusercontent.com/10754716/162390543-2ca

[2022-04-08 13:50] StigKorsnes commented on #97
@mansenfranzen
Got this, correct?
![image](https://user-images.githubusercontent.com/10085536/162449275-335c6f12-c73d-4b7c-8a2e-fbf35cea3f07.png)

[2022-04-10 18:33] mansenfranzen commented on #110
@spacemanspiff2007 Thanks for opening yet another issue here ;-).

It is not intended to include additional keyword arguments passed to a pydantic `Field` under the `constraints` section in the field documentation. This edge case is not covered, yet. Thanks for reporting it! The next release will include a bugfix. This should happen rather soonish.

[2022-04-11 10:38] Timost commented on #95
Hi ! Maybe this comment can help ? https://github.com/sphinx-doc/sphinx/issues/10290#issuecomment-1079740009

[2022-04-13 18:33] mansenfranzen commented on #110
@spacemanspiff2007 This should be fixed via #111.

Before releasing the minor patch, it would be great if you could test the bug fix on your site to confirm that my test case did indeed capture the incorrect behavior which you've encountered. To do so, please install the current dev release in your doc-building-environment via `pip install git+https://github.com/mansenfranzen/autodoc_pydantic.git@

[2022-04-13 18:36] mansenfranzen commented on #110
@all-contributors please add @spacemanspiff2007 for bug and ideas

[2022-04-13 18:37] #110 closed

[2022-04-13 20:23] mansenfranzen commented on #100
This was indeed more complicated than I've thought and I assume the solution I can offer is not very robust against edge cases.

Anyway, you were pretty close with your solution. The new `Text` node just needs a valid parent (see content of function `replace_node_text`). I solved it slightly differently, as follows:

[code]

This works with my dummy example.  The functions should be generic enough

[2022-04-14 03:58] spacemanspiff2007 commented on #110
The fix works:
![grafik](https://user-images.githubusercontent.com/10754716/163310636-a957e0c0-f1e0-483d-b621-be7a06b46940.png)

---

But somehow the default value now is ``PydanticUndefined``.
The field hast a default factory so I'd argue it should not be undefined:

[code]

Is this the expected behavior or is this a new error?

[2022-04-14 05:16] spacemanspiff2007 opened #114 "PydanticUndefined is shown even if there is a default_factory"
Currently ``PydanticUndefined`` is shown if there is a default factory.

Source
[code]

Output
![grafik](https://user-images.githubusercontent.com/10754716/163317900-ca8ab858-b951-4816-8d29-d63222b08ac2.png)

I think `PydanticUndefined` is a bit misleading since the default is not undefined.
How about `[has default]` (so it's the same as with `[required]`) so it's clear that the field will have a

[2022-04-14 18:34] mansenfranzen commented on #97
So far this is correct - there might be a new feature to hide the `PydanticUndefined` addressed in #114 .

[2022-04-14 18:53] mansenfranzen commented on #114
Thanks for pointing this out! Technically, it is correct to have the `PydanticUndefined` default value because the default value is not known until object instantiation of the corresponding class that inherits from pydantic `BaseModel`. The documentation is generated from the class and not from instances of it.

However, for documentation purposes, a rather non technical label/marker is more appro

[2022-04-14 19:18] mansenfranzen commented on #99
For clarification: let's assume the alias is shown instead of the original attribute name. Does the original attribute name appear anywhere (e.g. where the alias was shown previously)?

I suggest `autodoc_pydantic_field_replace_name_with_alias` as a configuration property.

[2022-04-15 04:13] spacemanspiff2007 commented on #99
Yes - my first idea would be to not show the name at all.

However if we just add a switch to swap name and alias then we have all use cases covered (e.g. `autodoc_pydantic_field_swap_name_and_alias` or `autodoc_pydantic_field_swap_name_with_alias`). The showing of the name would then be controlled by `autodoc_pydantic_field_show_alias`.

e.g.:

[code]

| Config switch| output|
|-|-|
| `show_alias

[2022-04-15 06:08] spacemanspiff2007 commented on #114
Normally I am a huge fan of keeping things short but this is imho one of the times where I think explicit is better than implicit.
If I don't know any of the internals and read the docs for the first time it's immediately clear that
- values that have a default are optional
- values that are required and don't have a default have the `[Required]` tag

If there is no `[Required]` tag and no default

[2022-04-15 06:56] s0undt3ch opened #115 "Generics not supported?"
[code]
[code]
[code]

[2022-04-15 20:00] mansenfranzen commented on #115
Hi @s0undt3ch,

thanks for raising this issue here. To be honest, I have silently assumed that `autodoc_pydantic` handles generic models just as fine as normal pydantic models in the past. Just now I added an [example in the documentation](https://autodoc-pydantic.readthedocs.io/en/stable/users/examples.html#generic-models) showing how generic models are rendered via `autodoc_pydantic`. Given the

[2022-04-15 20:04] s0undt3ch commented on #115
Sure, I'll to make a self contained version of the error and I'll post it here.

Thank You for your work!

[2022-04-15 20:07] mansenfranzen commented on #114
You have convinced me - let's be more explicit.

In support of your point, the optional/required tag might be even necessary even if the type already contains `Optional[int]` because:

- `field_a: Optional[int]` is indeed **optional**
- while `field_b: Optional[int] = ...` is **required**

I added an example section outlining all these possibilities [here](https://autodoc-pydantic.readthedocs.io/e

[2022-04-16 04:05] spacemanspiff2007 commented on #114
I think `show` instead of `mark` would be more consistent with the already existing configuration options.
How about `autodoc_pydantic_field_show_pydantic_undefined_as_optional`?
`autodoc_pydantic_field_show_undefined_as_optional` is fine, too.

Thank you for your help!

[2022-04-16 17:59] mansenfranzen commented on #114
Let's go with `autodoc_pydantic_field_show_optional` for all fields which are not obviously optional (e.g. `field: int = 1`). Thanks for sharing your thoughts on those naming conventions - really appreciate it.

[2022-04-18 18:12] mansenfranzen commented on #114
@spacemanspiff2007 This feature request should be accomplished via #117

- Documentation on the new configuration property `autodoc_pydantic_field_show_optional`: [click](https://autodoc-pydantic.readthedocs.io/en/v1.7.0-a.1/users/configuration.html#show-optional)
- Updated documentation on the example for required/optional fields: [click](https://autodoc-pydantic.readthedocs.io/en/v1.7.0-a.1/user

[2022-04-18 18:25] mansenfranzen commented on #99
This looks good to me - I agree with `autodoc_pydantic_field_swap_name_and_alias`.

We have to keep in mind, that [field summary list](https://autodoc-pydantic.readthedocs.io/en/stable/users/configuration.html#show-field-summary) needs to be modified to if name and alias are swapped. Otherwise we would have an inconsistency between the field summary in the model's header and the actual field names

[2022-04-19 04:28] spacemanspiff2007 commented on #114
![grafik](https://user-images.githubusercontent.com/10754716/163920091-508f8606-aaee-4617-b04a-53d0d0397068.png)

Looks good! Thank you for the quick implementation!

[2022-04-19 17:44] #114 closed

[2022-04-29 05:00] #100 closed, assigned to mansenfranzen

[2022-05-09 20:09] GlenNicholls opened #121 "How to generate pydantic model docs for a dataclass"
I am using `pydantic.dataclasses.dataclass` because I need the `__post_init__` dunder. However, I noticed that automodule does not generate the pydantic model documentation for these data classes. Looking at pydantic's docs, I can access the model using `__pydantic_model__`, but I'm not sure how to get this to happen automatically with `automodule`?

[2022-05-15 18:23] mansenfranzen commented on #99
@spacemanspiff2007 This is accomplished by #119.

- Documentation on the new configuration property `autodoc_pydantic_field_swap_name_and_alias`: [click](https://autodoc-pydantic.readthedocs.io/en/v1.7.0-a.2/users/configuration.html#swap-name-and-alias)
- Updated documentation on the example for swapped field name/alias: [click](https://autodoc-pydantic.readthedocs.io/en/v1.7.0-a.2/users/examples.

[2022-05-15 18:27] mansenfranzen commented on #121
@GlenNicholls Thanks for raising this feature request here! I agree it would be really helpful to support `pydantic.dataclasses.dataclass`. At first glance, this should be possible without too much effort but I will need to take a closer look at it. I will come back to you soonish.

[2022-05-16 04:19] spacemanspiff2007 commented on #99
Thank you very much for the implementation!

I've tested it and it works as desired:

[code]
generates

![grafik](https://user-images.githubusercontent.com/10754716/168519050-53880730-7801-445b-a163-564c16d4f353.png)

[2022-05-18 17:51] mansenfranzen commented on #99
This is included in v1.7.0 (released just few minutes ago).

[2022-05-18 17:51] #99 closed

[2022-05-19 16:51] GlenNicholls opened #122 "Support reused validators"
I notice that this extension doesn't work with reused validators, i.e. [Pydantic's Reuse validators](https://pydantic-docs.helpmanual.io/usage/validators/#reuse-validators) section

[code]

It looks like there is a warning. Note that below is not exactly the above case but just slightly modified from the example I'm messing with:

[code]

The only problem is the docs don't contain a link to that f

[2022-05-24 00:58] sneakers-the-rat opened #123 "`ClassVar` not supported?"
Hello! Wondering if i'm doing something wrong.

I have a model with `typing.ClassVar`s to indicate class, rather than instance attributes:

eg:

[code]

This throws the following stack:

[code]

So it seems like it's being seen by the fields list, but not populated into the attributes dictionary? Not sure if this is a me thing, but if not lmk how I can help with a PR :)

[2022-05-25 17:56] mansenfranzen commented on #122
Thanks for reporting this! Have you tried building the documentation for the same code without `autodoc_pydantic` being activated (with plain sphinx autodoc)? I guess the same warning occurs again. If 's that the case, then this issue is rather related to the sphinx core then to `autodoc_pydantic` extension. Could you please test it on your example?

[2022-05-25 20:08] GlenNicholls commented on #122
@mansenfranzen

I just did. However, I noticed that with the e.g. `_normalize_name` above, the class method didn't display in the generated page. Once I changed to `normalize_name`, it correctly displayed the docstring of `normalize`. Note that I did not see the warning or any errors with `autodoc_pydantic` disabled for either case.

Once I enabled `autodoc_pydantic`, both cases above (sunder/non-

[2022-05-25 20:13] GlenNicholls commented on #122
I think the warning is a hint `WARNING: py:obj reference target not found: example.Consumer.normalize`. Instead of `normalize`, it should be linking to the correct classmethod `normalize_name` (or `_normalize_name` for the original example).

[2022-05-25 20:14] mansenfranzen commented on #122
Okay thanks for checking - then it's definitely related to autodoc_pydantic. I will come back to you soon.

[2022-05-25 20:23] GlenNicholls commented on #122
I also just noticed something else, not sure if this helps at all. With pydantic enabled, the generated page is showing `normalize_name` as a classmethod with `normalize`'s docstring for both classes `Consumer` and `Producer`, it just doesn't properly register the classmethod `normalize_name` as a validator and displays that `name`'s validator is `normalize` when it should instead be `normalize_na

[2022-05-26 11:43] iwishiwasaneagle opened #124 "AttributeError: 'NoneType' object has no attribute 'Config'"
autodoc_pydantic failing builds without much information or which model is causing the issue.

[code]

<details>
<summary>Full log</summary>

[code]
</details>

[2022-05-26 12:50] mansenfranzen commented on #124
Thanks for opening an issue here.

I won't be able to help you unless you provide some of the pydantic models that cause the error. Perhaps you can narrow it down. This would be of great help. More concretely, watch out for non standard models (e g. Multiple inheritance).

If your repository is public, I can have a look myself.

[2022-05-26 13:10] iwishiwasaneagle commented on #124
So I narrowed it down to this model:

[code]

Which confuses me as it's not even a complex model at that, and works flawlessly in my code and tests.

[2022-05-26 13:15] iwishiwasaneagle commented on #124
Okay I think I've narrowed it down. When I change the name to anything other than `Affine` it's fine.

I do have another data model called `Affine` but that's in a seperate module and not a pydantic class anyway. I also have multiple other "duplicate" classes, one for pydantic one for sqlalchemy ORM  which is confusing.

[code]

[2022-05-30 18:14] lukehsiao opened #125 "TypeError with Sphinx 5.0"
When using autodoc_pydantic with the just-released Sphinix v5.0.0, we get a TypeError:

[code]

This appears to be changed in sphinx's autodoc extension here: https://github.com/sphinx-doc/sphinx/commit/267954edba498dcc132f98c6a6e7fd029e8f6bbb#diff-e43bdd6f8f37a12d2536e09e57c5e8999cb8de18b9c7ba49126f90576c4328acR2666

It seems that `autodoc_pydantic` will also need to adjust accordingly.

[2022-05-30 19:38] mansenfranzen commented on #125
@lukehsiao Thanks for reporting this issue. I can confirm that it occurs due to a changed function signature in sphinx 5.0.

[2022-05-30 19:57] mansenfranzen commented on #125
@all-contributors please add @lukehsiao for bug

[2022-05-30 20:07] mansenfranzen commented on #125
Bug is fixed and new version of `autodoc_pydantic=1.7.1` is released to support `sphinx=5.0`.

[2022-05-30 20:07] #125 closed

[2022-05-30 20:18] lukehsiao commented on #125
Amazing, thank you!

[2022-06-05 11:50] PipeKnight opened #128 "KeyError: 'created_by' when building documentation"
Full error trace:
[code]

My conf file:
[code]

I have several models in my app with field named `created_by`, for example:
[code]

And for some reason this broke my docs generation. If I comment `'sphinxcontrib.autodoc_pydantic'` in `conf.py` extensions, than everything works

[2022-06-05 11:52] PipeKnight commented on #128
So maybe it's the problem with supporting `sqlmodel` library in your extension, which is something like a bridge between `pydantic` and `sqlalchemy`

[2022-06-05 12:29] mansenfranzen commented on #128
Thanks for reporting the issue here! It is very likely related to sqlmodel. There is a similar issue here #124. I will take a look at it soonish.

[2022-06-07 13:02] mansenfranzen commented on #124
Thanks for providing more information on this.

I took a closer look at it and it seems as if `ModelInspector.from_signode` is having trouble to find the correct python class. However, it is still hard for me to reproduce your error. Would you mind to provide a simplified/minified example with all of those 3 python modules containing the 3 different `Affine` class implementations with their corres

[2022-06-07 13:08] mansenfranzen commented on #128
Okay, this is related to what a [`Relationship`](https://sqlmodel.tiangolo.com/tutorial/relationship-attributes/define-relationships-attributes/#what-are-these-relationship-attributes) represents in `sqlmodel`. In fact, it is not a field (or column) of a pydantic model (or sqlalchemy table).

`autodoc_pydantic` currently assumes all class attributes of a parent pydantic model to be a pydantic fiel

[2022-06-07 13:28] mansenfranzen commented on #123
The error occurs because `autodoc_pydantic` treats `typing.ClassVar` as a pydantic field which is not correct. This is similar to #128. A fix will be available soon.

[2022-06-07 13:39] nickeldan opened #129 "automodule error with nested BaseModel"
I have the following MRE:

[code]

In my .rst file, I have

[code]

`make html` produces

[code]

So, `autodoc_pydantic` has somehow been led to believe that `Foo` is a `pydantic.BaseModel`.  What's interesting is, if I remove the validator, then the error goes away.

I'm using Python 3.8.10 and autodoc_pydantic 1.7.1.

[2022-06-07 13:48] iwishiwasaneagle commented on #124
Here are my two `Affine` class  implementations. The third one is from this package: https://pypi.org/project/affine/

[code]

[2022-06-07 14:25] mansenfranzen commented on #129
Thanks for reporting this bug and the example code. This might be related to #124. I will come back to it soonish.

[2022-06-07 16:53] sneakers-the-rat commented on #123
thank you! sorry i don't have any time to help out with the patch at the moment.

[2022-06-07 19:44] mansenfranzen commented on #129
This bug is addressed via #131.

Before merging the related PR, it would be great if you could test the bugfix on your site. To do so, please install the current dev release in your doc-building-environment via `pip install git+https://github.com/mansenfranzen/autodoc_pydantic.git@v1.7.2-a.1` and rebuild your docs.

[2022-06-07 19:48] mansenfranzen commented on #123
This bug is addressed via #130 .

Before merging the related PR, it would be great if you could test the bugfix on your site. To do so, please install the current dev release in your doc-building-environment via `pip install git+https://github.com/mansenfranzen/autodoc_pydantic.git@v1.7.2-a.1` and rebuild your docs.

[2022-06-07 19:51] mansenfranzen commented on #128
@all-contributors please add @PipeKnight for bug

[2022-06-07 19:52] mansenfranzen commented on #124
@all-contributors please add @iwishiwasaneagle for bug

[2022-06-08 00:11] nickeldan commented on #129
Works perfectly!

[2022-06-08 05:58] #129 closed

[2022-06-08 06:03] sneakers-the-rat commented on #123
you are too sweet :)

[2022-06-08 06:18] #123 closed

[2022-06-08 08:34] iwishiwasaneagle commented on #124
@mansenfranzen Changed to `1.7.2-a.1` and the error disappeared. Thanks!

[2022-06-08 08:34] #124 closed

[2022-06-09 22:06] GlenNicholls commented on #121
No, the reason I'm using pydantic dataclass is because I need validation for a config file but also to modify some behavior based on data relationships with `__post_init_post_parse__`/`__post_init__`. I don't really care if those docstrings are present as it's taking care of transformations that don't really concern users. The docstring is in the code for devs because it matters to them, but It's

[2022-06-12 18:15] mansenfranzen commented on #122
Thanks for your additional information. I can now confirm that it is a bug in `autodoc_pydantic` which does not handle reused validators correctly.

To properly handle this use case I will need to add a new configuration property like `autodoc_pydantic_validators_hide_reused` to prevent showing the classmethod (`_normalize_name`) while correctly linking to the reused function (`normalize`). This m

[2022-06-12 18:21] mansenfranzen commented on #121
Okay thanks for your response. I guess I will support explicit configurations for dataclasses right away instead of using the same configuration settings as for models. As you've pointed out, this will become a requirement eventually by someone using dataclasses. Supporting it right from the beginning may prevent backwards incompatibility later on.

This will take me some time to accomplish and it

[2022-06-12 18:29] mansenfranzen commented on #128
@PipeKnight This should be fixed with the current `v1.7.2` release of today. Feel free to reopen if the issue persists.

[2022-06-12 18:29] #128 closed

[2022-08-08 07:39] morcef opened #137 "TypeError: '<' not supported between instances of 'NoneType' and 'NoneType'"
Hi,

I have encountered a simmilar issue as discussed in #78.
My Pydantic models have fields with type of other Pydantic models, and when using `autodoc_pydantic_model_summary_list_order = 'bysource'` I still seem to get the same error.

Is there any other way to find the exact model that fails, except for the elimination method?

I am not sure what more should be provided to find my edge case, bu

[2022-09-27 21:32] csm10495 opened #138 "Does `autodoc_pydantic` work with autoapi?"
I'm not fully initiated into sphinx so some terms may be slightly off so bear with me :)

I have a project that uses sphinx autoapi to build some rst files from code for docs. I figured adding sphinxcontrib.autodoc_pydantic" as an extension in conf.py would be enough to get the description from pydantic fields in the documentation... but alas it doesn't seem to make a difference.

Does this genera

[2022-09-29 18:26] GlenNicholls commented on #122
@mansenfranzen I have tested with our docs and this appears to work. I used a fairly simple example, but it does work correctly now. Thanks for working on this!

[2022-09-30 18:59] mansenfranzen commented on #138
@csm10495 Thanks for raising this question here. It is a very valid question and unfortunately this has not been covered in the docs.

The short answer is: No.

I added a section in the user's FAQ in the current dev release, see [here](https://autodoc-pydantic.readthedocs.io/en/v1.8.0-a.2/users/faq.html#autoapi-interoperability). Please let me know if the FAQ answers your question. Also, feel free

[2022-09-30 19:01] mansenfranzen commented on #122
Thanks for revisiting this issue :-). PR is merged and will be included in the next release (probably next week).

[2022-09-30 19:01] #122 closed

[2022-09-30 20:17] csm10495 commented on #138
Thanks for the info!

[2022-09-30 20:17] #138 closed

[2022-10-12 18:11] mansenfranzen commented on #137
Sorry for letting you wait for so long. I have been busy otherwise. And thanks for opening the issue anyway.

The issue that you've been describing has bothered me for some time, too. It would be great to easily identify the actual model that causes `autodoc_pydantic` to fail. I will put it on the roadmap for the 1.9.0 release.

[2022-10-12 18:15] mansenfranzen commented on #138
all-contributors please add @csm10495 for question

[2022-10-12 18:48] mansenfranzen commented on #138
@all-contributors please add @csm10495 for question